.chicken-picture {
  height: 60%;
  width: 60%;
  display: inline-block;
  margin-left: 20%;
}

.chicken-details {
  width: 80%;
  padding: 1.5em;
  background-color: #dcf1ff;
  border-radius: 25px;
}