.chicken-picture {
  height: 60%;
  width: 60%;
}

.chicken-overview {
  margin-left: 0.75em;
  margin-right: 0.75em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  display: inline-block;
  width: 15em;
  text-align: center;
  background-color: #dcf1ff;
  border-radius: 25px;
}

.chicken-overview img {
  display: inline-block;
}